body {
  background-color: green;
  opacity: 0.9;
}

h1 {
  color: yellow;
  margin-left: 20px;
  font-style: bold;
}
h2 {
  color: navy;
  margin-left: 20px;
  font-style: italic;
  font-style: bold;


}
h3{
   color: purple;
   margin-left: 20px;
   font-style: italic;

}

